<?xml version="1.0" encoding="utf-8"?>
<!--package="enchantit.huawei" package="com.RD_AAOW.EnchantIt"-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.RD_AAOW.EnchantIt"
		android:installLocation="internalOnly" android:versionCode="600116" android:versionName="1.5.3">

	<uses-sdk android:minSdkVersion="23" android:targetSdkVersion="30" />

	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<application android:label="Enchant it" android:icon="@mipmap/icon"></application>
</manifest>
